@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  position: absolute;
  left: 21.43%;
  right: 21.43%;
  top: 5.27%;
  bottom: 91.8%;
  background: #e0e0e0;
  border-radius: 3px;
}
.homeTab {
  background-color: red;
}
.card-container {
  background-color: white;
  border-left: 4px solid white;
  padding: 5px 8px;
  margin-bottom: 8px;
  cursor: grab;
  .row-details {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    .img-wrapper {
      margin-right: 10px;
      width: 80px;
      height: auto;
    }
    .basic-info {
      width: 100%;
      position: relative;
      .row-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        .name,
        .company-name {
          display: inline-block;
          padding-right: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: Nunito Sans light;
          color: #636363;
        }
        .name {
          font-size: 16px;
          line-height: 22px;
          font-family: Nunito Sans bold;
          /* identical to box height */
          text-transform: uppercase;
          color: #636363;
        }
      }
      .badges {
        display: flex;
        font-size: 16px;
        color: #e3b26a;
        .star {
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .count {
          font-family: Poppins;
          font-size: 20px;
          padding-left: 10px;
        }
      }
    }
  }
}

.headerTitle {
  font-family: Poppins;
  font-size: 20px;
}
.card-container {
  .button {
    color: white;
    background-color: #83CDEC;
    border-radius: 35px;
    margin: 10px 0px;
    width:100%;
    border: none;
  }
  .search {
    margin-top: 10px;
    border: 1px solid #bdbdbddb;
    border-radius: 10px;
  }
  .search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbdbdbd;
    font-family: Nunito Sans light;
    font-size: 16px;
    opacity: 1; /* Firefox */
  }
}
