body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans bold';
  src: url('./fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans light';
  src: url('./fonts/Nunito_Sans/NunitoSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}